@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    font:normal 16px/1.5 sans-serif;
    color: #333;
}

h3{
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #2c3e50;
    margin: 50px 0;
    text-align: center;
}
header{
    background: #9b9b9b;
}
header .auth{
    padding: 20px;
    display: flex;
    margin: 0 0 0 auto;
    width: 165px;
}
header .auth:hover{
    color: blue;
    cursor: pointer;
}
.auth a {
    color: black;
    text-decoration: none;
}
.auth a:hover {
    color: brown;
}
.container{
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
}

img#snap{
    display: none;
}
.app canvas{
    display: none;
}







@media(max-width: 1000px){
    .container{
        margin: 40px;
    }

    .app #start-camera.visible{
        display: block;
    }

    .app .controls a i{
        font-size: 16px;
    }

    .app .controls #take-photo i{
        font-size: 24px;
    }
}


@media(max-width: 600px){
    .container{
        margin: 10px;
    }

    .app #error-message{
        padding: 80px 50px;
        font-size: 18px;
    }

    .app .controls a i{
        font-size: 12px;
    }

    .app .controls #take-photo i{
        font-size: 18px;
    }
    .app video#camera-stream,
    .app img#snap,
    .app #error-message
    {
        display: block;
    }
    .app .controls{
        display: flex;
    }
}

