@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: #fff;
    font:normal 16px/1.5 sans-serif;
    color: #333;
}

h3{
    font: normal 32px/1.5 'Open Sans', sans-serif;
    color: #2c3e50;
    margin: 50px 0;
    text-align: center;
}
header{
    background: #9b9b9b;
}
header .auth{
    padding: 20px;
    display: flex;
    margin: 0 auto;
    width: 165px;
}
header .auth:hover{
    color: blue;
    cursor: pointer;
}
.auth a {
    color: black;
    text-decoration: none;
}
.auth a:hover {
    color: brown;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
@media screen and (max-width: 759px) {
    .cont {
        overflow: hidden;
        height: 180px;
    }
}

img#snap{
    display: none;
}
.app canvas{
    display: none;
}
#take-photo{
    border: none;
    margin: 0 auto;
    display: flex;
    text-decoration: none;
    background: blue;
    color: white;
    width: 120px;
    height: 40px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}


